/* CERAPRO */

@font-face {
	font-family: 'CeraPro';
	src: url('./fonts/cerapro/CeraPro-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CeraProMedium';
	src: url('./fonts/cerapro/CeraPro-Medium.woff');
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: 'CeraProBold';
	src: url('./fonts/cerapro/CeraPro-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'CeraPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
